.player-overview {
	position: fixed;
	top: 130px;
	background-color: var(--sub-panel-color);
	background-image: var(--panel-highlight);
	border: 1px solid var(--panel-border);
	border-radius: 16px;
	box-shadow: var(--panel-shadow);
	backdrop-filter: var(--panel-blur);
	-webkit-backdrop-filter: var(--panel-blur);
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	padding: 30px;
	color: white;
	opacity: 0;
	transition: opacity 0.75s;
}
.player-overview.show {
	opacity: 1;
}
.player-overview-stat {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
	.panel {
		height: 10px;
		margin: 3px 0;
		border-radius: 5px;
		overflow: hidden;
		.filling {
			height: 100%;
			border-radius: 5px;
		}
	}
}
.player-overview.CT {
	.player-overview-stat {
		.panel {
			.filling {
				background-color: var(--color-new-ct);
			}
			background-color: rgba(103, 183, 240, 0.15);
		}
	}
}
.player-overview.T {
	.player-overview-stat {
		.panel {
			.filling {
				background-color: var(--color-new-t);
			}
			background-color: rgba(245, 194, 66, 0.15);
		}
	}
}
.player-overview-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	img {
		border-radius: 50%;
		margin-bottom: 20px;
		max-width: 170px;
		max-height: 170px;
	}
}
.player-overview-username {
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
img.flag {
	border-radius: 0;
	margin: 0;
	left: 0;
	bottom: 0;
	height: 22px;
	margin-right: 8px;
}