.match-overview {
	opacity: 0;
	transition: opacity 0.75s;
	position: fixed;
	display: flex;
	flex-direction: column;
	right: 16px;
	top: 375px;
	background-color: var(--panel);
	border: 1px solid var(--stroke);
	border-radius: 6px;
	overflow: hidden;
	text-transform: uppercase;
	width: 250px;
	color: var(--text);
}
.match-overview.show {
	opacity: 1;
}
.match-overview-teams {
	display: flex;
	>div {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 8px 0;
		gap: 2px;
		&:not(.match-overview-vs) {
			background-color: var(--panel-2);
		}
	}
}
.match-overview-title {
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: var(--panel-2);
	padding: 6px 0;
	font-size: 12px;
	color: var(--text-dim);
}
.match-overview-vs {
	width: 22px;
	flex: unset;
	background-color: var(--panel);
	font-size: 18px;
	color: var(--text-dim);
}
